@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 { 
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply pt-3 pb-1;
  }
  
  a:hover, button:hover {
    @apply underline;
  }

  p {
    @apply pb-1;
  }

  label span {
    @apply text-gray-700 text-sm dark:text-gray-100 font-medium;
  }

  .content {
    @apply container mx-auto;
  }
}

@layer components {
  .image {
    @apply rounded shadow-xl dark:shadow-gray-800 mx-auto max-w-lg h-auto mt-5 md:mt-0;
  }

}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
